.sidebar__body {
    height: 100vh;
    flex: 0.2;
    background-color: #040404;
    color: white;
    min-width: 3rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.sidebar__logo {
    height: 4rem;
    margin: auto;
    padding: 1rem;
}

.sidebar__title {
    padding: 1rem 0rem 1rem 0rem;
    font-size: 12px;
    margin: 1rem 0rem 1rem 0.5rem;
}

.sidebart__title--playlists {
    width: 90%;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}